node_modules
dist
build
.turbo
.env
.env.*
!.env.example
*.log
.DS_Store
coverage
.vscode/*
!.vscode/settings.json
.idea
# local tmp
tmp/
# db
*.db
*.db-journal
.docker-data/
# bun
bun.lockb
# vite
apps/app/dist
